.main-screen {
  background: url("../img/2.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.orange-section {
  background: url("../img/bg2.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

.orange-section .h2 br {
  display: block;
}

.fireworks__link {
  color: #fff;
  text-decoration: underline;
  padding-bottom: 127px;
  display: block;
}

.fireworks__link:hover {
  color: #fff;
  text-decoration: underline;
}

.img-section {
  background: url("../img/onze-formule.png");
  background-position: top center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .orange-section__content .h2 br {
    display: none;
  }
}
