@import "variables";

//start main-screen style
.main-screen {
	background: #000;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;	
	color: #fff;
	padding-top: 260px;
	min-height: 945px;
}
.main-screen__content .container-fluid {
	min-height: auto;
	position: relative;
	z-index: 99;
}
.white-man {
	margin-left: 70px;
	display: block;
	margin-right: 184px;
}
.content {
	display: flex;
	align-items: center;

}
.button {
	margin-left: 0;
	font-size: 17px;
}
.white-text {
	background: #fff;
	color: #000;
	display: inline-block;
	padding: 6px 13px;
	font-size: 57px;
	font-weight: 900;
}
.h1 {
	font-size: 112px;
	font-weight: 900;
	margin-bottom: 0;
}
.error__text-content {
	transform: translateY(-80px);
}
.button--succ {
	width: 300px;

}
//end main-screen style



@media only screen and (max-width : 1300px) {
	.white-man {
		margin-left: 2vw;
		display: block;
		margin-right: 5vw;
}

}

@media only screen and (max-width : 1100px) {
	.white-man {
		margin-left: 0vw;
		display: block;
		margin-right: 3vw;
	}
	.h1 {
		font-size: 10vw;
	}
}

@media only screen and (max-width : 992px) {
	
	.white-man {
		margin-right: 0;
		margin-bottom: 3vw;
	}
	.error__text-content {
		transform: translateY(0);
	}
	.main-screen {
		padding-top: 20vw;
		min-height: auto;
		padding-bottom: 15vw;
	}
	.white-man {
		width: 30vw;
		margin-right: 2vw;
	}
}

@media only screen and (max-width : 768px) {
	.main-screen {
		padding-bottom: 10vw;
		padding-top: 15vw;
	}
	.white-man {
		width: 40vw;
		margin-bottom: 5vw;
		//margin-left: 30vw;
		align-self: flex-end;

	}
	.h1 {
		font-size: 15vw;
	}
	.white-text {
		font-size: 10vw;
		padding: 0.5vw 3vw;
	}
	.content {
		flex-direction: column;
		align-items: flex-start;
	}
	.error__text-content {
		transform: translateY(-17vw);
	}
	.button--succ {
		width: 75vw;
		font-size: 4.2vw;

}
}