@import "variables";

//start main-screen style
.main-screen {
	background: url('../img/DSC_1159.png');
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;	
	
}
//end main-screen style

//start text-section style
.text-section {
	a {
		text-decoration: underline;
		color: #000;
	}
}
//end text-section style


@media only screen and (max-width : 992px) {

}
